<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>fx.leyu.notes.servlet.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>people</servlet-name>
        <servlet-class>fx.leyu.notes.servlet.PeopleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>people</servlet-name>
        <url-pattern>/people</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring-config.xml</param-value>
    </context-param>
</web-app>
